@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  
}

header {
display: flex;
align-items: center;
}
  
header img {
width: 150px;
}
  
.top-page {
background:  url('images/galoubet1.jpg');
background-size: cover;
height: 80vh;
padding: 25px;
z-index: -2;
}

#background-video {
width: 100%;
height: 80vh;
object-fit: cover;
background-size: cover;
height: 80vh;
z-index: -2;
}

nav.nav {
    top: 10px;
    position: fixed;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    transition: all 0.3s ease;
    white-space: nowrap; /* Ajout de la propriété pour empêcher le retour à la ligne */
    background-color: #313131;
    opacity: 0.75;
    padding: 15px;
    left : 150px;
    right: 15px;
    border-radius: 15px ;
    justify-content: space-between;
  }
  
  nav.nav li a {
    justify-content: space-between;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    margin: 0; /* Supprimer les marges horizontales des liens */
  }
  
  
  nav.nav li a:hover {
    color: black; /* Changement de couleur au survol */
    background-color: white; /* Changement de couleur d'arrière-plan au survol */
    border-radius: 5px;
    padding: 5px;
  }

  header img {
    width: 150px;
    z-index: -1;
    bottom: 0;
  }
  