@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  
}


/* Ajoutez ces styles à votre fichier style.css */


/* Ajoutez ces styles à votre fichier style.css */

.entraineur {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

.entraineur div {
  text-align: center;
  background-color: antiquewhite;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  width: 80%;
}

.entraineur img {
  border-radius: 50px;
  max-width: 95%;
  height: auto;
  width: 150%;
  padding-bottom: 25px;
}

.entraineur h3 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}



header {
  display: flex;
  align-items: center;
}

header img {
  width: 150px;
}

.top-page {
  background:  url('images/galoubet1.jpg');
  background-size: cover;
  height: 80vh;
  padding: 25px;
  z-index: -2;
}





#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* CSS pour l'effet de transition */
.transition-container {
  position: relative;

}

.page-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
}

/* Accueil */
.landing-page {
  position: relative;
  padding: 20px 50px;
}

.big-title {
  color: white;
  font-size: 140px;
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -100px;
}



.scroll-down {
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 0;
}

/* Menu de navigation */
nav.nav {
  display: flex;
  list-style: none;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  transition: all 0.3s ease;
  white-space: nowrap; /* Ajout de la propriété pour empêcher le retour à la ligne */
}

nav.nav li a {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 600;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  margin: 0; /* Supprimer les marges horizontales des liens */
}

nav.nav li {
  margin-left: 20px;
  color: white;
}

nav.nav li a:hover {
  color: black; /* Changement de couleur au survol */
  background-color: white; /* Changement de couleur d'arrière-plan au survol */
  border-radius: 5px;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  nav.nav li a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  nav.nav {
    flex-direction: column; /* Afficher les liens en colonne */
    align-items: flex-start; /* Aligner les liens à gauche */
  }
  
  nav.nav li {
    margin: 10px 0; /* Ajouter un espace vertical entre les liens */
  }
  
  nav.nav li a {
    font-size: 16px;
  }
}





/* Services */
.services {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.service-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.delivery-icon {
  font-size: 50px;
  color: #ADD981;
}

.service-details {
  font-weight: 600;
  width: 200px;
  text-align: center;
}

/* Type de texte */
.section-title {
  margin-left: 25px;
  font-size: 50px;
  font-family: Cambria ;
  font-weight: 100;
  position: relative;
  text-decoration: underline  #6D071A;
}



.section-sous {
  margin-left: 25px;
  font-size: 35px;
  font-weight: 75px;
  position: relative;
  padding-top: 25px;
}

.section-sous::before {
  margin-left: 25px;
  content: '';
  position: absolute;
  width: 75px;
  height: 7px;
  bottom: 0;
}

.texte {
  margin-left: 25px;
  position: relative;
}

.texte::before {
  margin-left: 25px;
  content: '';
  position: absolute;
  width: 290px;
  height: 7px;
  bottom: 0;
}

.texta {
  margin-left: 25px;
  color: black;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  width: 290px;
  height: 40px;
  display: flex;
}

.texta::before {
  margin-left: 25px;
  content: '';
  position: absolute;
  width: 290px;
  height: 7px;
  bottom: 0;
}

.texts {
  margin-left: 25px;
  color: #f1f1f1;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  width: 290px;
  height: 40px;
  display: flex;
  background-color: #313131;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.texts:hover {
  margin-left: 25px;
  color: #313131;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  width: 290px;
  height: 40px;
  display: flex;
  background-color: #f1f1f1;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.texts::before {
  margin-left: 25px;
  content: '';
  position: absolute;
  width: 290px;
  height: 7px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pied de page */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  bottom: 0;
  margin-top: 20px;
  border-radius: 5px;
  color: #f1f1f1;
}

footer a.cgv {
  text-decoration: none;
  color: black;
}

footer.v {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
  font-weight: 600;
}

footer.v a.cgv {
  text-decoration: none;
  color: #f1f1f1;
}

.endr {
  align-items: center;
}

.endrv {
  align-items: center;
  color: #f1f1f1;
}

/* Ajout de règles pour ajuster la couleur du texte en fonction de la luminosité du fond */
footer {
  background-color: white;
}

footer.v {
  background-color: #f1f1f1;
}

footer {
  color: white;
}

footer.v {
  color: black;
  mix-blend-mode: difference;
}





/* Transition de la page */
.page-transition {
  opacity: 0;
  transition: opacity 0.5s ease;
}


.foter {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background-color: #f1f1f1;
  opacity: 50%;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  bottom: 0;
  align-items: center;
  margin: auto;
  align-items: center;
  font-weight: 600;
  left: 0;
  right: 0;
  justify-content: space-between;
  border-radius: 5px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.foter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin: 10px 10px;
  text-decoration: none;
  color: black;
}

.barre-chargement {
  cursor: url('images/cursor.cur'), auto;
}

/* Ajouter ces styles à la fin du fichier */



.HG {
  margin: 0;
  font-size: 14px;
}

.v {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.v p {
  margin: 5px;
}

